<!DOCTYPE html>
<html>
<head>
<title>Blogz</title>
<link href="{{ url_for('static',filename='style.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>		
<div id="navigation">
{% if 'username' in session %}
<a href="/">All Users</a>
<a href="/blog">All Blogs</a>
<a href="/newpost">New Post</a>
{% endif %}
<div style='float: right'>
{% if 'username' in session %}
<form action="/logout" method="post">
{{session['username']}} | <input type="submit" value="Log Out" />
</form>

{% else %}
<a href="login">Login</a> | <a href="signup">Signup</a>
{% endif %}
</div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}

{% endblock %}
</body>
</html>