{% extends 'base.html' %}

{% block content %}
<h1 class="header">Blogz</h1>
<p class="cookie">{{ message }}</p>

{% for blog in blogs.items %}
<h2><a href="./blog?id={{blog.id}}">{{blog.title}}</a></h2>
<p class="datetime">by <a href="./singleUser?uid={{blog.owner.id}}">{{blog.owner.username}}</a> on {{blog.post_date}}</p>
<p>{{blog.body}}</p>
<hr />
{% endfor %}

  <div class=pagination>
  	<a href="{{ url_for('blog', page=1) }}">First</a>
  	<a href="{{ url_for('blog', page=blogs.prev_num) }}">Previous</a>
  {%- for page in blogs.iter_pages() %}
    {% if page %}
      {% if page != blogs.page %}
        <a href="{{ url_for('blog', page=page) }}">{{ page }}</a> 
      {% else %}
        <strong class="current_page">{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  		<a href="{{ url_for('blog', page=blogs.next_num) }}">Next</a>
    	<a href="{{ url_for('blog', page=blogs.pages) }}">Last</a>
  </div>

{% endblock %}